:root {
    --primary-color: white;
    --secondary-color: black;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

body{

}

.header-container{
 background-color: var(--primary-color);
}

.menu-icon{
    width: 80px;
    height: 80px;
}

.Asaby-icon{
    width: 150px;
    height: 150px
}

.icon{
  fill: var(--secondary-color);
  width: 60px;
  height: 60px;
}
