body{
    background-color: black;
}

.header-container{
    width: 100vw;
    height: 100px;
}

.nav-menu{
    width: 100vw;
    height: 100%;
}

.nav-menu ul{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    font-size: 20px;
    list-style-type: none;
}

.nav-menu ul li a{
   text-decoration: none;
   color: white;
   transition: all 0.3s ease;

}

.nav-menu ul li a:hover{
    cursor: pointer;
    text-decoration: underline;
    color: blue;
}

.Asaby-icon-white{
    width: 100px;
    height: 100px;
}

.dark-icon{
    width: 40px;
    height: 40px;
    fill: white;
    transition: all 0.3s ease;
}

.dark-icon:hover{
    fill: blue;
}



