:root{
    --primary-color: #2c3e50;
    --secondary-color: #ecf0f1;
}


.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 40px;
    backdrop-filter: blur(10px); 
    border-bottom: 1px solid black;
}
   
.menu-icon{
    width: 40px;
    height: 40px;
}

.Asaby-icon{
    width: 150px;
    height: 150px;
}

.icon{
    fill: var(--secondary-color);
}

.icon:hover{
    cursor: pointer;
}

.hidden{ 
display: none;
}


   